<section id="contact">
  <h2 class="section_header">Contact us</h2>

  <div class="contact_container">
      <div class="left">
          <div class="address">
              87a Giles Street<br>
              Edinburgh<br>
              EH6 6BZ<br>
              <br>
              <strong>Telephone:</strong>0131 553 6914<br>
              <strong>Email:</strong><a href=
              "mailto:info@anforawinebar.co.uk">info@anforawinebar.co.uk</a><br>
              <br>
              <strong>Opening times:</strong>

              <div class="time">
                  Monday<br>
                  12:00 - 15:00, 17:30 - 22:30
              </div>

              <div class="time">
                  Tuesday:<br>
                  Closed
              </div>

              <div class="time">
                  Wednesday - Thursday:<br>
                  12:00 - 15:00, 17:30 - 22:30
              </div>

              <div class="time">
                  Friday:<br>
                  12:00 - 15:00, 17:30 - 00:00
              </div>

              <div class="time">
                  Saturday:<br>
                  12:00 - 00:00
              </div>

              <div class="time">
                  Sunday:<br>
                  12:00 - 22:00
              </div><a class="book_link" href=
              "http://www.opentable.co.uk/single.aspx?rid=109182&amp;rtype=ism&amp;restref=109182">Book
              a table at Anfora</a>

              <p class="disclaimer">If you would like to make a
              booking using a voucher please phone Anfora directly.
              Please note that your online booking will not be
              accepted if you are making it with a voucher.</p>

              <ul class="social_links">
                  <li>
                      <a class="facebook" href=
                      "https://www.facebook.com/anforawinebarleith"><span>
                      anforawinebarleith</span></a>
                  </li>

                  <li>
                      <a class="twitter" href=
                      "https://twitter.com/anforawinebar"><span>@anforawinebar</span></a>
                  </li>

                  <li>
                      <a class="yelp" href=
                      "http://www.yelp.co.uk/biz/anfora-wine-bar-edinburgh">
                      <span>yelp</span></a>
                  </li>

                  <li>
                      <a class="tripadvisor" href=
                      "http://www.tripadvisor.co.uk/Restaurant_Review-g186525-d7724855-Reviews-Anfora_Wine_Bar-Edinburgh_Scotland.html">
                      <span>trip advisor</span></a>
                  </li>
              </ul>
          </div>

          <div class="opentable">
              <script src=
              "https://www.opentable.co.uk/frontdoor/default.aspx?rid=109182&amp;restref=109182&amp;bgcolor=F6F6F3&amp;titlecolor=0F0F0F&amp;subtitlecolor=0F0F0F&amp;btnbgimage=https://www.opentable.co.uk/frontdoor/img/ot_btn_red.png&amp;otlink=FFFFFF&amp;icon=dark&amp;mode=short&amp;hover=1"
              type="text/javascript"></script><a class="OT_ExtLink" href=
"http://www.opentable.co.uk/single.aspx?rid=109182&amp;rtype=ism&amp;restref=109182">Anfora
Wine Bar (109182), Edinburgh/Midlothian Reservations</a>
          </div>
      </div>

      <div class="right">
          <div class="map">
              <iframe frameborder="0" src=
              "https://www.google.com/maps/embed/v1/place?q=anfora%20wine%20bar%20edinburgh&amp;key=AIzaSyBFJ4s4OKmulTB5ehuoFNUQxAx9B4UhDk0"
              style="border:0"></iframe>
          </div>
      </div>
  </div>
</section>
