<section id="contact">
  <h2 class="section_header">Contact us</h2>

  <div class="contact_container">
      <div class="left">
          <div class="container">

            <h4>Address</h4>
            <div class="address">
              87a Giles Street<br>
              Edinburgh<br>
              EH6 6BZ<br>
            </div>

            <h4>Contact</h4>
            <div class="contact">
              0131 553 6914<br>
              <a href="mailto:info@anforawinebar.co.uk">info@anforawinebar.co.uk</a><br>
            </div>

            <h4>Opening times</h4>
            <div class="opening_times">
              <div class="time">
                <span class="day">Monday:</span> <span class="hours">12:00 - 15:00, 17:30 - 22:30</span>
              </div>
              <div class="time">
                <span class="day">Tuesday:</span> <span class="hours">Closed</span>
              </div>
              <div class="time">
                <span class="day">Wednesday:</span> <span class="hours">12:00 - 15:00, 17:30 - 22:30</span>
              </div>
              <div class="time">
                <span class="day">Thursday:</span> <span class="hours">12:00 - 15:00, 17:30 - 22:30</span>
              </div>
              <div class="time">
                <span class="day">Friday:</span> <span class="hours">12:00 - 15:00, 17:30 - 00:00</span>
              </div>
              <div class="time">
                <span class="day">Saturday:</span> <span class="hours">12:00 - 00:00</span>
              </div>
              <div class="time">
                <span class="day">Sunday:</span> <span class="hours">12:00 - 22:00</span>
              </div>
            </div>

            <a class="book_link" href="http://www.opentable.co.uk/single.aspx?rid=109182&amp;rtype=ism&amp;restref=109182">Book a table at Anfora</a>

            <ul class="social_links">
              <li>
                <a class="facebook" href="https://www.facebook.com/anforawinebarleith"><span>anforawinebarleith</span></a>
              </li>
              <li>
                <a class="twitter" href="https://twitter.com/anforawinebar"><span>@anforawinebar</span></a>
              </li>
              <li>
                <a class="yelp" href="http://www.yelp.co.uk/biz/anfora-wine-bar-edinburgh"><span>yelp</span></a>
              </li>
              <li>
                <a class="tripadvisor" href="http://www.tripadvisor.co.uk/Restaurant_Review-g186525-d7724855-Reviews-Anfora_Wine_Bar-Edinburgh_Scotland.html"><span>trip advisor</span></a>
              </li>
            </ul>
          </div>

          <!--
          <div class="opentable">
              <script src=
              "https://www.opentable.co.uk/frontdoor/default.aspx?rid=109182&amp;restref=109182&amp;bgcolor=F6F6F3&amp;titlecolor=0F0F0F&amp;subtitlecolor=0F0F0F&amp;btnbgimage=https://www.opentable.co.uk/frontdoor/img/ot_btn_red.png&amp;otlink=FFFFFF&amp;icon=dark&amp;mode=short&amp;hover=1"
              type="text/javascript"></script><a class="OT_ExtLink" href=
"http://www.opentable.co.uk/single.aspx?rid=109182&amp;rtype=ism&amp;restref=109182">Anfora
Wine Bar (109182), Edinburgh/Midlothian Reservations</a>
          </div>
        -->
      </div>

      <div class="right">
          <div class="map">
              <iframe frameborder="0" src=
              "https://www.google.com/maps/embed/v1/place?q=anfora%20wine%20bar%20edinburgh&amp;key=AIzaSyBFJ4s4OKmulTB5ehuoFNUQxAx9B4UhDk0"
              style="border:0"></iframe>
          </div>
      </div>
  </div>
</section>
