<div class="e_club_widget">
  <h3>Sign up for our E-Club to recieve updates on events and special offers</h3>
  <a class="book_link" href="http://anforawinebar.fbmta.com/members/UpdateProfile.aspx?Action=Subscribe&InputSource=W">Join our E-Club</a>
</div>
