<section>
  <div class="gallery">
      <ul>
          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/1.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/2.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/3.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/6.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/7.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/8.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/9.jpg&#39;)">
              </div>
          </li>

          <li>
              <div class="image" style=
              "background-image: url(&#39;/images/gallery/new/12.jpg&#39;)">
              </div>
          </li>
      </ul>
  </div>
</section>
