<section>
  <div class="gallery">
      <ul>
        {% for img in contents.gallery_images %}
          <li><div class="image" style="background-image: url({{ img.image.url | resize: '1000x666#' }})"></div></li>
        {% endfor %}
      </ul>
  </div>
</section>
