$font_file: "anfora";
$icon_font: "anfora";

@font-face {
  font-family: $icon_font;
  src:url('/fonts/#{$font_file}.eot');
  src:url('/fonts/#{$font_file}.eot?#iefix') format('embedded-opentype'),
  url('/fonts/#{$font_file}.woff') format('woff'),
  url('/fonts/#{$font_file}.ttf') format('truetype'),
  url('/fonts/#{$font_file}.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
  'glass': "\e9a0",
  'spoon': "\e9a3",
  'star': "\e9d9",
  'arrow_right': "\ea3c",
  'arrow_left': "\ea40",
  'facebook': "\ea8c",
  'twitter': "\ea91",
  'yelp' : "\ead9",
  'tripadvisor' : "\e600"
);

@each $name, $code in $icons {
  %icon_#{$name}:before {
    font-family: $icon_font; content: '#{$code}';
  }
  %icon_#{$name}_after:after {
    font-family: $icon_font; content: '#{$code}';
  }
  .icon_#{$name} {
    @extend %icon_#{$name};
  }
}
