$max_width: 980px;
$black: #0a0203;
$silver: #a7a9ab;
$brown: #2f1c16;
$transparent_silver: rgba($silver, 0.8);
$font_family: 'Montserrat', sans-serif;
$font_color: white;
$border: 2px solid $silver;
$standard_mb: 4em;

$small_breakpoint: 600px;
$medium_breakpoint: 700px;
